<h3>Lister un conteneur</h3>

<p>
    <form class="form-inline" ng-submit="listContainer()">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>
        <div class="form-group">
            <label for="containerName">Nom du conteneur</label>
            <input type="text" class="form-control" id="containerName" placeholder="mon_conteneur" ng-model="containerName">
        </div>
        <button type="submit" class="btn btn-default">Lister le contenur</button>
    </form>
</p>

<p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Modifié le</th>
                <th>Type</th>
                <th>Verrouillé</th>
                <th>Displonible</th>
                <th>Export</th>
                <th>Execution</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in entries">
                <td>{{ entry.name }}</td>
                <td>{{ entry.properties['content-length'] }}</td>
                <td>{{ entry.properties['last-modified'] }}</td>
                <td>{{ entry.properties.blobtype }}</td>
                <td>
                    <i class="glyphicon glyphicon-lock" ng-show="entry.properties.leasestatus == 'locked'"></i>
                </td>
                <td>
                    <i class="glyphicon glyphicon-ok" ng-show="entry.properties.leasestate == 'available'"></i>
                </td>
                <td>
                    <a ng-href="/containers/{{containerName}}/blobs/{{entry.name}}" class="btn btn-default">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="executeJob(entry)" ng-disabled="entry.running == true">
                        <i class="glyphicon glyphicon-play"></i>
                    </button>
                    <div ng-show="entry.job != null">
                        Etat du Job: 
                        <span ng-switch="entry.job.status">
                            <span ng-switch-when="0">En attente... </span>
                            <span ng-switch-when="1">En cours d'exécution... </span>
                            <span ng-switch-when="2">Erreur lors de l'exécution du job.</span>
                            <span ng-switch-when="3">Erreur lors de l'exécution du job.</span>
                            <span ng-switch-when="4">
                                OK, job terminé. <br>
                                <a ng-href="{{ entry.job.result.BaseLocation}}{{entry.job.result.RelativeLocation }}">Blob généré</a> <br>
                            </span>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</p>