<h3>Projet pluridisciplinaire - Université Paris Descartes - Master 2 MIAGE 2014/2015</h3>
<p>Ce projet est proposé et suivi par François Role, maître de conférences à l'université Paris-Descartes - <a href="francois.role@parisdescartes.fr">francois.role@parisdescartes.fr</a> <p>
<h4>L'équipe projet est constituée de :</h4>
<ul> 
<li> Axelle Boyer - <a href="axelle.boyer@etu.parisdescartes.fr">axelle.boyer@etu.parisdescartes.fr</a></li> 
<li> Emilie Cresson - <a href="emilie.cresson@etu.parisdescartes.fr">emilie.cresson@etu.parisdescartes.fr</a></li> 
<li> Jean-Baptiste Dohet - <a href="jean-baptiste.dohet@etu.parisdescartes.fr">jean-baptiste.dohet@etu.parisdescartes.fr</a></li> 
<li> Marie Fagbemy - <a href="marie.fagbemy@etu.parisdescartes.fr">marie.fagbemy@etu.parisdescartes.fr</a></li> 
</ul>
<h4>Sujet proposé</h4>
<p align="justify">Ce projet de fin d'étude proposé à des étudiants du Master Miage par apprentissage de Paris-Descartes a pour objectif de démontrer la faisabilité d'un accès aux services AzureML via une interface Web. Les principales fonctionnalités à implémenter sont décrites ci-après.</p>
<p align="justify">L'utilisateur devra pouvoir à partir d'un serveur Node.js désigner via l'interface (par exemple une liste) un dataset à traiter (dataset stocké dans un Blob Azure) et un service pour traiter ce dataset. La liste des données disponibles pourra être retrouvée en utilisant l'API Azure. Les URL des services et leur codes d'accès seront fournis aux étudiants au cours du projet. Le premier service mis à disposition des étudiants sera le service "Census Income" qui permet de déterminer le niveau de revenu d'une personne en fonction de différentes caractéristiques. Un accès à un service de co-clustering sera aussi fourni en focntion de l'avancement du projet.<p>
