<h3>Projet pluridisciplinaire - MIAGE Paris-Descartes - année 2014-2015</h3>
<p>Ce projet est proposé et suivi par François Role, maître de conférences à l'université Paris-Descartes - francois.role@parisdescartes.fr <p>
<p>Le projet utilise des accès fournis à l'équipe Machine Learning de Paris-Descartes par Microsoft Research dans le cadre d'un "Azure Research Grant".<p>
<h4>L'équipe projet est constituée de :</h4>
<ul> 
<li> Axelle Boyer </li> 
<li> Emilie Cresson</li> 
<li> Jean-Baptiste Dohet </li> 
<li> Marie Fagbemy</li> 
</ul>
<h4>Sujet proposé</h4>
<p>Ce projet de fin d'étude proposé à des étudiants du Master Miage par apprentissage de Paris-Descartes a pour objectif de démontrer la faisabilité d'un accès aux services AzureML via une interface Web. Les principales fonctionnalités à implémenter sont décrites ci-après. L'utilisateur devra pouvoir à partir d'un serveur Node.js désigner via l'interface (par exmpel des listes déroulantes) un dataset à traiter (dataset stocké dans un Blob Azure) et un service pour traiter ce dataset. La liste des données disponibles (blobs à traiter) pourra être retrouvée en utilisant l'API Azure (version Jvavscript). Les URL des services et leur codes d'accès seront fournis aux étudiants au cours du projet. Le premier service mis à disposition des étudiants sera le service "Census Income" qui permet de déterminer le niveau de revenu d'une personne en fonction de différentes caractéristiques. Un accès à un service de co-clustering sera aussi fourni en focntion de l'avancement du projet.<p>
